@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+TC:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100dvh;
  font-family: "Montserrat", "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: var(--black);
}

div, section, span, ul, article {
  color: var(--white);
}

a {
  text-decoration: none;
}

a, a:hover, a:visited {
  color: var(--white);
}

ul, ol {
  list-style: none;
}

:root {
  --black: #23232b;
  --dark-black: #111111;
  --blue: #2ecee0;
  --red: #f65044
  --white: #ffffff; 
  --cream: #cec6be;
  --spacing-s: 16px;
  --spacing-m: 24px;
  --spacing-l: 48px;
}

button {
  border: none;
  outline: none;
}